In [4]:
# ler o arquivo em excel KE5Z_veiculos.xls
import pandas as pd

df_KE5Z  = pd.read_excel('KE5Z_veiculos.xlsx')

# mostrar o arquivo em excel df_KE5Z
df_KE5Z.head(50)

# Fazer o somatorio da coluna Valor e imprimir na tela
print(df_KE5Z['Valor'].sum())

# exibir as primeiras linhas
df_KE5Z.head(20)

154760004.06000003

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,Account,USI,Oficina,Doc.compra,Texto breve,Fornecedor,Material,Usuário,Fornec.,Tipo
0,11,novembro,M53800000,02S2712,930018375,03/11/2025,-1260.00,0.000,Burden,Expenses,Other Manufacturing Income & Expenses,Veículos,NaN,NaN,M53800000 -,NaN,NaN,ITSSCHED03,NaN,WY
1,11,novembro,53800038,02S2263,1002340668,03/11/2025,-561.60,-0.156,Burden,Maintenance,Service,Veículos,PS,62061432.0,SERVICO DE INFORMATICA,QUALITY LAVANDERIA INDUSTRIAL SC LT,NaN,U173454,800049329,W2
2,11,novembro,53800038,02S2263,1002340670,03/11/2025,-585.90,-0.837,Burden,Maintenance,Service,Veículos,PS,62061432.0,SERVICO DE INFORMATICA,QUALITY LAVANDERIA INDUSTRIAL SC LT,NaN,U173454,800049329,W2
3,11,novembro,54400052,02S2029,1002351360,04/11/2025,-5859.00,-1.000,Burden,Expenses,Handling,Veículos,GS,62061796.0,LOCACAO DE MAQUINAS E EQUIPAMENTOS,SAFETY SERVICE COMERCIO E REPRESENT,NaN,U173454,800049432,W2
4,11,novembro,54550001,02S2029,1002371771,06/11/2025,-205223.47,-205223.470,Burden,Energy,Electricity,Veículos,GS,12173230.0,CONTRATO DE FORNECIMENTO DE ENERGIA,CASA DOS VENTOS COMERCIALIZADORA DE,722737173,SE55403,800048750,W2
5,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.000,Burden,Expenses,Handling,TC Ext,BANCOS,62065341.0,SERVICO DE LOCACAO DE EQUIPAMENTOS E,AESA EMPILHADEIRAS LTDA,NaN,U355648,800035099,W2
6,11,novembro,52600108,02S2405,2025452130,03/11/2025,-107.40,-2.000,Burden,Consumption Material,Consumption Material,Veículos,QY,NaN,CALCA FEMIMINA TAM 42 STELLANTIS GLOBAL,NaN,67099489000714,SG22639,NaN,W1
7,11,novembro,52600108,02S2260,2025669355,04/11/2025,-29.72,-1.000,Burden,Consumption Material,Consumption Material,Veículos,PS,NaN,LUVA CIRURGICA EM LATEX G CX 100 UND,NaN,67099404006811,SG22639,NaN,W1
8,11,novembro,52600108,02S2017,2025674312,05/11/2025,-44.93,-1.000,Burden,Consumption Material,Consumption Material,Veículos,SM,NaN,BONE SEGURANCA CINZA LOGOTIPO STELLANTIS,NaN,67099404006773,SF21368,NaN,W1
9,11,novembro,52600158,02S2260,2025690664,04/11/2025,-49.36,-2.000,Burden,Maintenance,Material,Veículos,PS,NaN,CILINDRO PAPAIZ P/UEP 511 CR C/LINGUETA,NaN,C5018100021089,SG22639,NaN,W1
10,11,novembro,52600158,02S2263,2025690664,04/11/2025,-49.36,-2.000,Burden,Maintenance,Material,Veículos,PS,NaN,CILINDRO PAPAIZ P/UEP 511 CR C/LINGUETA,NaN,C5018100021089,SG22639,NaN,W1
11,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1
12,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1
13,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1
14,11,novembro,52600108,02S2242,2025693730,05/11/2025,-89.86,-2.000,Burden,Consumption Material,Consumption Material,Veículos,AS,NaN,BONE SEGURANCA CINZA LOGOTIPO STELLANTIS,NaN,67099404006773,SG22639,NaN,W1
15,11,novembro,52600108,02S2244,2025693730,05/11/2025,-269.58,-6.000,Burden,Consumption Material,Consumption Material,Veículos,AS,NaN,BONE SEGURANCA CINZA LOGOTIPO STELLANTIS,NaN,67099404006773,SG22639,NaN,W1
16,11,novembro,52600108,02S2236,2025693730,05/11/2025,-44.93,-1.000,Burden,Consumption Material,Consumption Material,Veículos,AS,NaN,BONE SEGURANCA CINZA LOGOTIPO STELLANTIS,NaN,67099404006773,SG22639,NaN,W1
17,11,novembro,52600108,02S3028,2025693730,05/11/2025,-2681.71,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,BANCOS,NaN,FILME STRETCH 500MM CX C/ 2 ROLOS,NaN,67099404007348,SG22639,NaN,W1
18,11,novembro,52600108,02S3012,2025700581,05/11/2025,-82.80,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,U167857,NaN,W1
19,11,novembro,52600108,02S3012,2025700581,05/11/2025,-82.80,-10.000,Burden,Consumption Material,Consumption Material,TC Ext,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,U167857,NaN,W1

In [9]:
# Ler a guia "Base conso" do arquivo "Dados SAPIENS.xlsx"
df_base_conso = pd.read_excel('Dados SAPIENS.xlsx', sheet_name='Base conso')

# mostrar arquivo
df_base_conso.head()

# Merge com df_KE5Z e incluindo a coluna Type 04 no arquivo df_KE5Z
df_KE5Z = pd.merge(df_KE5Z, df_base_conso[['Type 04']], left_index=True, right_index=True, how='left')

# mostrar arquivo
df_KE5Z.head()

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,USI,Oficina,Doc.compra,Texto breve,Fornecedor,Material,Usuário,Fornec.,Tipo,Type 04
0,11,novembro,M53800000,02S2712,930018375,03/11/2025,-1260.00,0.000,Burden,Expenses,...,Veículos,NaN,NaN,M53800000 -,NaN,NaN,ITSSCHED03,NaN,WY,Variável
1,11,novembro,53800038,02S2263,1002340668,03/11/2025,-561.60,-0.156,Burden,Maintenance,...,Veículos,PS,62061432.0,SERVICO DE INFORMATICA,QUALITY LAVANDERIA INDUSTRIAL SC LT,NaN,U173454,800049329,W2,Variável
2,11,novembro,53800038,02S2263,1002340670,03/11/2025,-585.90,-0.837,Burden,Maintenance,...,Veículos,PS,62061432.0,SERVICO DE INFORMATICA,QUALITY LAVANDERIA INDUSTRIAL SC LT,NaN,U173454,800049329,W2,Variável
3,11,novembro,54400052,02S2029,1002351360,04/11/2025,-5859.00,-1.000,Burden,Expenses,...,Veículos,GS,62061796.0,LOCACAO DE MAQUINAS E EQUIPAMENTOS,SAFETY SERVICE COMERCIO E REPRESENT,NaN,U173454,800049432,W2,Variável
4,11,novembro,54550001,02S2029,1002371771,06/11/2025,-205223.47,-205223.470,Burden,Energy,...,Veículos,GS,12173230.0,CONTRATO DE FORNECIMENTO DE ENERGIA,CASA DOS VENTOS COMERCIALIZADORA DE,722737173,SE55403,800048750,W2,Variável

In [3]:
# Ler o arquivo em excel Reporting fluxo anexo.xlsx, ler a guia Rateio,
# excluir a primeira linha (linha de referência) e usar a segunda linha como cabeçalho (meses)

# Ler a guia "Rateio" do arquivo Excel, sem header para manipular manualmente
df_raw = pd.read_excel('Reporting fluxo anexo.xlsx', sheet_name='Rateio', header=None)

# Excluir a primeira linha (linha de referência)
df = df_raw.iloc[1:].reset_index(drop=True)

# Usar a primeira linha (que agora é a linha dos nomes/meses) como cabeçalho real
df.columns = df.iloc[0]

# Excluir a linha usada como cabeçalho
df = df.iloc[1:].reset_index(drop=True)

# Remover colunas totalmente NaN (colunas extras do Excel)
df = df.loc[:, df.notna().any(axis=0)]

# Filtrar colunas que possuem todos os valores NaN (antes do melt)
df = df.dropna(axis=1, how='all')

# Identificar as colunas que são meses (janeiro a dezembro)
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
         'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

# Encontrar as colunas que são meses (desconsiderando capitalização)
colunas_meses = [col for col in df.columns if any(mes.lower() in str(col).lower() for mes in meses)]

# Identificar as colunas que NÃO são meses (para usar como id_vars)
colunas_id = [col for col in df.columns if col not in colunas_meses and pd.notna(col)]

# Remover colunas com nome NaN
df = df.loc[:, df.columns.notna()]



# Agora transformar as colunas de meses em linhas
df = df.melt(id_vars=colunas_id, value_vars=colunas_meses, var_name='Mês', value_name='Rateio')

# Converter a coluna Rateio para numérico, substituir NaN por zero
# NÃO arredondar para manter máxima precisão e evitar erros de arredondamento
df['Rateio'] = pd.to_numeric(df['Rateio'], errors='coerce').fillna(0)

# substituir o nome da coluna Mês por Período
df = df.rename(columns={'Mês': 'Período'})

# filtrar na tabela df e linha Oficina tudo que é diferente de veículo
df = df[df['Oficina'] != 'Veículos']

# tirar o nan no filtro
df = df[df['Oficina'].notna()]



# mostrar um somatorio da coluna Rateio
print(df['Rateio'].sum())
# exibir as primeiras linhas
df.head(100)

144.0

      Oficina Veículo  Período    Rateio
11       HVAC    J516  janeiro  0.000000
12       HVAC    CC21  janeiro  0.322648
13       HVAC    CC24  janeiro  0.281407
14       HVAC    CC22  janeiro  0.395945
16       INOX    J516  janeiro  0.000000
..        ...     ...      ...       ...
148     IBIZA    CC21    março  0.299393
149     IBIZA    CC24    março  0.203644
150     IBIZA    CC22    março  0.496963
152  Card Box    J516    março  0.000000
153  Card Box    CC21    março  0.299393

[100 rows x 4 columns]

In [4]:
# --- VERIFICAÇÃO DE ERROS E USO DAS CHAVES 'Oficina' e 'Período' ---

# 1. Conferir colunas presentes
print("Colunas em df_KE5Z:", df_KE5Z.columns.tolist())
print("Colunas em df    :", df.columns.tolist())

# 2. Checar existência das colunas essenciais
erros = []
for nome_df, dfx in [('df_KE5Z', df_KE5Z), ('df', df)]:
    for col in ['Oficina', 'Período']:
        if col not in dfx.columns:
            erros.append(f"Coluna '{col}' ausente no {nome_df}.")

if erros:
    for erro in erros:
        print("ERRO:", erro)
    raise KeyError(" ".join(erros))

# 3. Conferir quantidade de linhas antes do merge
print(f"\nUsando 'Oficina' e 'Período' como chaves de merge")
print(f"Linhas em df_KE5Z: {len(df_KE5Z)}")
print(f"Linhas em df     : {len(df)}")

# 4. Realizar merge tendo certeza do nome correto das chaves
try:
    df_merge = pd.merge(df_KE5Z, df, on=['Oficina', 'Período'], how='left', suffixes=('', '_df'))
except Exception as e:
    print("Erro ao realizar o merge usando as colunas 'Oficina' e 'Período'.")
    raise

print(f"Linhas após merge: {len(df_merge)}")

# 5. Checar se a coluna Rateio veio corretamente
if 'Rateio' in df_merge.columns:
    rateio_nao_nulo = df_merge['Rateio'].notna().sum()
    print(f"Linhas com Rateio encontrado: {rateio_nao_nulo}")
else:
    print("AVISO: Coluna 'Rateio' não encontrada após o merge.")

# 6. Validar presença da coluna 'Veículo' para o pivot
if 'Veículo' not in df_merge.columns:
    raise KeyError("Coluna 'Veículo' não encontrada em df_merge. Verifique se esta coluna existe e está corretamente capitalizada em ambos DataFrames.")

# 7. Pivot para transformar veículos em colunas de Rateio
# Usar 'mean' para agregar valores duplicados (mais apropriado para rateios)
try:
    df_pivot = df_merge.pivot_table(
        index=['Oficina', 'Período'],
        columns='Veículo',
        values='Rateio',
        aggfunc='mean'
    ).reset_index()
    df_pivot.columns.name = None
    print(f"\nLinhas após pivot (Oficina + Período): {len(df_pivot)}")
except Exception as e:
    print("Erro ao executar pivot_table em df_merge usando 'Veículo'.")
    raise

# 8. Merge reverso: incluir dados originais do KE5Z
try:
    df_final = pd.merge(df_KE5Z, df_pivot, on=['Oficina', 'Período'], how='left')
except Exception as e:
    print("Erro ao executar o merge final com pivot.")
    raise

# 9. Determinar colunas novas (veículos criados) e renomear para %
veiculos_cols = [col for col in df_final.columns if col not in df_KE5Z.columns and col not in ['Oficina', 'Período']]
rename_dict = {col: f"{col}%" for col in veiculos_cols}
df_final = df_final.rename(columns=rename_dict)

# Atualizar lista de veiculos_cols para aquelas com %
veiculos_cols_pct = [f"{col}%" for col in veiculos_cols]
veiculos_cols = [col for col in veiculos_cols_pct if col in df_final.columns]

# 10. Garantir que todas as colunas de veículos estejam em float64, sem perder casas decimais, e NaN->0
import numpy as np
for col in veiculos_cols:
    # Remover eventualmente o símbolo % para padronizar antes da conversão, se vier por engano
    if df_final[col].dtype == "object":
        df_final[col] = df_final[col].astype(str).str.replace('%', '', regex=False).str.strip()
    # Converter para float64 (não arredonda nem corta casas decimais)
    df_final[col] = pd.to_numeric(df_final[col], errors='coerce').astype(np.float64).fillna(0.0)

# 11. Diagnóstico final
print(f"\nDataFrame final criado com {len(df_final)} linhas e {len(df_final.columns)} colunas")
print(f"Colunas de veículos criadas: {len(veiculos_cols)}")
print("Colunas de veículos:", veiculos_cols)
print("\nTipos das colunas de veículos:")
for col in veiculos_cols:
    print(f"  {col}: {df_final[col].dtype} (exemplo valor: {df_final[col].dropna().iloc[0] if not df_final[col].dropna().empty else 'N/A'})")

# 12. Conferir dados de HVAC
if 'Oficina' in df_final.columns:
    df_hvac = df_final[df_final['Oficina'] == 'HVAC']
    print(f"\nLinhas com HVAC: {len(df_hvac)}")
    display(df_hvac.head(7))
else:
    print("AVISO: Coluna 'Oficina' não existe em df_final.")
    df_hvac = pd.DataFrame()

Colunas em df_KE5Z: ['Mes', 'Período', 'Nºconta', 'Centrocst', 'Nºdoc.ref.', 'Dt.lçto.', 'Valor', 'QTD', 'Type 05', 'Type 06', 'Account', 'USI', 'Oficina', 'Doc.compra', 'Texto breve', 'Fornecedor', 'Material', 'Usuário', 'Fornec.', 'Tipo']
Colunas em df    : ['Oficina', 'Veículo', 'Período', 'Rateio']

Usando 'Oficina' e 'Período' como chaves de merge
Linhas em df_KE5Z: 92845
Linhas em df     : 408
Linhas após merge: 112099
Linhas com Rateio encontrado: 25089

Linhas após pivot (Oficina + Período): 31

DataFrame final criado com 92845 linhas e 26 colunas
Colunas de veículos criadas: 6
Colunas de veículos: ['CC21%', 'CC22%', 'CC24%', 'CC24 5L%', 'CC24 7L%', 'J516%']

Tipos das colunas de veículos:
  CC21%: float64 (exemplo valor: 0.0)
  CC22%: float64 (exemplo valor: 0.0)
  CC24%: float64 (exemplo valor: 0.0)
  CC24 5L%: float64 (exemplo valor: 0.0)
  CC24 7L%: float64 (exemplo valor: 0.0)
  J516%: float64 (exemplo valor: 0.0)

Linhas com HVAC: 1640

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,Material,Usuário,Fornec.,Tipo,CC21%,CC22%,CC24%,CC24 5L%,CC24 7L%,J516%
11,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,67099404007378,SG22639,NaN,W1,0.344006,0.466382,0.189612,0.0,0.0,0.0
12,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,67099404007378,SG22639,NaN,W1,0.344006,0.466382,0.189612,0.0,0.0,0.0
13,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,67099404007378,SG22639,NaN,W1,0.344006,0.466382,0.189612,0.0,0.0,0.0
18,11,novembro,52600108,02S3012,2025700581,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,67099404007378,U167857,NaN,W1,0.344006,0.466382,0.189612,0.0,0.0,0.0
19,11,novembro,52600108,02S3012,2025700581,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,67099404007378,U167857,NaN,W1,0.344006,0.466382,0.189612,0.0,0.0,0.0
59,11,novembro,54400052,02S3012,7150000699,01/11/2025,-14805.07,0.0,Burden,Expenses,...,NaN,GE001295,NaN,SJ,0.344006,0.466382,0.189612,0.0,0.0,0.0
122,11,novembro,54850020,02S3012,7150000706,01/11/2025,-15903.89,0.0,Labor,Benefits,...,NaN,GE001295,NaN,SJ,0.344006,0.466382,0.189612,0.0,0.0,0.0

In [5]:
# Criar novas colunas calculando: Coluna% * Valor
# As colunas de percentual estão como float (ex: 0.419 para 41.9%)
# Multiplicar diretamente pela coluna Valor

print("Criando colunas de cálculo (Percentual * Valor)...")

# Verificar se a coluna 'Valor' existe
if 'Valor' not in df_final.columns:
    print("ERRO: Coluna 'Valor' não encontrada no DataFrame!")
    print(f"Colunas disponíveis: {df_final.columns.tolist()}")
else:
    print(f"Coluna 'Valor' encontrada. Tipo: {df_final['Valor'].dtype}")
    
    # Converter coluna Valor para numérico se necessário
    df_final['Valor'] = pd.to_numeric(df_final['Valor'], errors='coerce').fillna(0)
    
    # Lista de colunas de veículos com %
    veiculos_cols_pct = ['CC21%', 'CC22%', 'CC24%', 'CC24 5L%', 'CC24 7L%', 'J516%']
    
    # Criar uma coluna para cada veículo com o cálculo
    for col_pct in veiculos_cols_pct:
        if col_pct in df_final.columns:
            # Nome da nova coluna sem o "%" (ex: "CC21")
            col_nome = col_pct.replace('%', '')
            
            # Calcular: Percentual * Valor
            # Como o percentual já está em decimal (ex: 0.419), multiplicar diretamente
            df_final[col_nome] = df_final[col_pct] * df_final['Valor']
            
            print(f"  Criada coluna '{col_nome}' = {col_pct} * Valor")
        else:
            print(f"  AVISO: Coluna '{col_pct}' não encontrada")
    
    print(f"\nTotal de colunas no DataFrame final: {len(df_final.columns)}")
    print(f"Novas colunas criadas: {[col.replace('%', '') for col in veiculos_cols_pct if col in df_final.columns]}")
    
    # Exibir as primeiras linhas para verificar
    print("\nPrimeiras linhas do DataFrame final:")
    display(df_final.head(10))

    # fazer somatorio da coluna Valor
    print(df_final['Valor'].sum())

    # somar as colunas CC21, CC22, CC24, CC24 5L, CC24 7L, J516
    print(df_final['CC21'].sum() + df_final['CC22'].sum() + df_final['CC24'].sum() + df_final['CC24 5L'].sum() + df_final['CC24 7L'].sum() + df_final['J516'].sum())

# gerar um excel com o df_final
df_final.to_excel('df_final.xlsx', index=False)

Criando colunas de cálculo (Percentual * Valor)...
Coluna 'Valor' encontrada. Tipo: float64
  Criada coluna 'CC21' = CC21% * Valor
  Criada coluna 'CC22' = CC22% * Valor
  Criada coluna 'CC24' = CC24% * Valor
  Criada coluna 'CC24 5L' = CC24 5L% * Valor
  Criada coluna 'CC24 7L' = CC24 7L% * Valor
  Criada coluna 'J516' = J516% * Valor

Total de colunas no DataFrame final: 32
Novas colunas criadas: ['CC21', 'CC22', 'CC24', 'CC24 5L', 'CC24 7L', 'J516']

Primeiras linhas do DataFrame final:

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,CC24%,CC24 5L%,CC24 7L%,J516%,CC21,CC22,CC24,CC24 5L,CC24 7L,J516
0,11,novembro,M53800000,02S2712,930018375,03/11/2025,-1260.00,0.000,Burden,Expenses,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
1,11,novembro,53800038,02S2263,1002340668,03/11/2025,-561.60,-0.156,Burden,Maintenance,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
2,11,novembro,53800038,02S2263,1002340670,03/11/2025,-585.90,-0.837,Burden,Maintenance,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
3,11,novembro,54400052,02S2029,1002351360,04/11/2025,-5859.00,-1.000,Burden,Expenses,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
4,11,novembro,54550001,02S2029,1002371771,06/11/2025,-205223.47,-205223.470,Burden,Energy,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
5,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.000,Burden,Expenses,...,0.0,0.087513,0.102099,0.0,-3483.057631,-4722.118463,-0.0,-886.072572,-1033.751334,-0.0
6,11,novembro,52600108,02S2405,2025452130,03/11/2025,-107.40,-2.000,Burden,Consumption Material,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
7,11,novembro,52600108,02S2260,2025669355,04/11/2025,-29.72,-1.000,Burden,Consumption Material,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
8,11,novembro,52600108,02S2017,2025674312,05/11/2025,-44.93,-1.000,Burden,Consumption Material,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0
9,11,novembro,52600158,02S2260,2025690664,04/11/2025,-49.36,-2.000,Burden,Maintenance,...,0.0,0.000000,0.000000,0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,-0.0

154760004.06000003
5369683.03

In [6]:
# ANÁLISE: Verificar se a soma dos percentuais está dando 100% em cada linha
print("="*70)
print("ANÁLISE: SOMA DOS PERCENTUAIS POR LINHA")
print("="*70)

# Lista de colunas de percentual
veiculos_cols_pct = ['CC21%', 'CC22%', 'CC24%', 'CC24 5L%', 'CC24 7L%', 'J516%']

# Calcular a soma dos percentuais para cada linha
df_final['Soma_Percentuais'] = df_final[veiculos_cols_pct].sum(axis=1)

# Verificar quantas linhas têm rateios (soma > 0)
linhas_com_rateio = (df_final['Soma_Percentuais'] > 0).sum()
linhas_sem_rateio = (df_final['Soma_Percentuais'] == 0).sum()

print(f"\n1. DISTRIBUIÇÃO DE LINHAS:")
print(f"   Linhas COM rateios (soma > 0): {linhas_com_rateio:,}")
print(f"   Linhas SEM rateios (soma = 0): {linhas_sem_rateio:,}")
print(f"   Total de linhas: {len(df_final):,}")

# Verificar se a soma está próxima de 1.0 (100%) nas linhas com rateio
df_com_rateio = df_final[df_final['Soma_Percentuais'] > 0]
if len(df_com_rateio) > 0:
    print(f"\n2. ANÁLISE DAS LINHAS COM RATEIOS:")
    print(f"   Soma média dos percentuais: {df_com_rateio['Soma_Percentuais'].mean():.4f}")
    print(f"   Soma mínima: {df_com_rateio['Soma_Percentuais'].min():.4f}")
    print(f"   Soma máxima: {df_com_rateio['Soma_Percentuais'].max():.4f}")
    
    # Contar linhas onde a soma não está próxima de 1.0
    linhas_fora_100 = df_com_rateio[abs(df_com_rateio['Soma_Percentuais'] - 1.0) > 0.01]
    print(f"\n   ⚠️ Linhas onde soma ≠ 100% (diferença > 1%): {len(linhas_fora_100)}")
    
    if len(linhas_fora_100) > 0:
        print(f"\n   Exemplos de linhas com soma diferente de 100%:")
        display(linhas_fora_100[['Oficina', 'Período', 'Valor', 'Soma_Percentuais'] + veiculos_cols_pct].head(10))

# Verificar especificamente julho e agosto
print(f"\n3. ANÁLISE ESPECÍFICA: JULHO E AGOSTO")
df_jul_ago = df_final[df_final['Período'].isin(['Julho', 'Agosto', 'julho', 'agosto'])]
if len(df_jul_ago) > 0:
    print(f"   Total de linhas: {len(df_jul_ago):,}")
    linhas_com_rateio_jul_ago = (df_jul_ago['Soma_Percentuais'] > 0).sum()
    print(f"   Linhas COM rateios: {linhas_com_rateio_jul_ago:,}")
    
    if linhas_com_rateio_jul_ago > 0:
        df_jul_ago_com_rateio = df_jul_ago[df_jul_ago['Soma_Percentuais'] > 0]
        print(f"   Soma média dos percentuais: {df_jul_ago_com_rateio['Soma_Percentuais'].mean():.4f}")
        
        linhas_fora_100_jul_ago = df_jul_ago_com_rateio[abs(df_jul_ago_com_rateio['Soma_Percentuais'] - 1.0) > 0.01]
        print(f"   ⚠️ Linhas onde soma ≠ 100%: {len(linhas_fora_100_jul_ago)}")
        
        if len(linhas_fora_100_jul_ago) > 0:
            print(f"\n   Exemplos de linhas problemáticas em Julho/Agosto:")
            display(linhas_fora_100_jul_ago[['Oficina', 'Período', 'Valor', 'Soma_Percentuais'] + veiculos_cols_pct].head(10))

# Verificar totais
print(f"\n4. VERIFICAÇÃO DE TOTAIS:")
soma_valor_total = df_final['Valor'].sum()
soma_valor_com_rateio = df_com_rateio['Valor'].sum() if len(df_com_rateio) > 0 else 0
soma_calc_total = df_final[['CC21', 'CC22', 'CC24', 'CC24 5L', 'CC24 7L', 'J516']].sum().sum()

print(f"   Soma total da coluna Valor: {soma_valor_total:,.2f}")
print(f"   Soma da coluna Valor (apenas linhas com rateio): {soma_valor_com_rateio:,.2f}")
print(f"   Soma das colunas calculadas: {soma_calc_total:,.2f}")
print(f"   Diferença: {soma_valor_total - soma_calc_total:,.2f}")
print(f"   Percentual coberto: {(soma_calc_total / soma_valor_total * 100):.2f}%")

print("\n" + "="*70)

======================================================================
ANÁLISE: SOMA DOS PERCENTUAIS POR LINHA
======================================================================

1. DISTRIBUIÇÃO DE LINHAS:
   Linhas COM rateios (soma > 0): 5,835
   Linhas SEM rateios (soma = 0): 87,010
   Total de linhas: 92,845

2. ANÁLISE DAS LINHAS COM RATEIOS:
   Soma média dos percentuais: 1.0000
   Soma mínima: 1.0000
   Soma máxima: 1.0000

   ⚠️ Linhas onde soma ≠ 100% (diferença > 1%): 0

3. ANÁLISE ESPECÍFICA: JULHO E AGOSTO
   Total de linhas: 55,683
   Linhas COM rateios: 3,634
   Soma média dos percentuais: 1.0000
   ⚠️ Linhas onde soma ≠ 100%: 0

4. VERIFICAÇÃO DE TOTAIS:
   Soma total da coluna Valor: 154,760,004.06
   Soma da coluna Valor (apenas linhas com rateio): 5,369,683.03
   Soma das colunas calculadas: 5,369,683.03
   Diferença: 149,390,321.03
   Percentual coberto: 3.47%

======================================================================

In [7]:
# Calcular a somatória de cada coluna (CC21, CC22, CC24, CC24 5L, CC24 7L, J516)

print("="*60)
print("SOMATÓRIA DE CADA COLUNA")
print("="*60)

# Lista de colunas para somar
colunas_para_somar = ['CC21', 'CC22', 'CC24', 'CC24 5L', 'CC24 7L', 'J516']

# Calcular e exibir a soma de cada coluna
soma_total = 0
for col in colunas_para_somar:
    if col in df_final.columns:
        # Converter para numérico e somar
        soma = pd.to_numeric(df_final[col], errors='coerce').fillna(0).sum()
        soma_total += soma
        print(f"Soma da coluna {col:12s}: {soma:,.2f}")
    else:
        print(f"Coluna {col:12s}: NÃO ENCONTRADA")

print("="*60)
print(f"SOMA TOTAL:                 {soma_total:,.2f}")
print("="*60)

#

============================================================
SOMATÓRIA DE CADA COLUNA
============================================================
Soma da coluna CC21        : 2,875,255.01
Soma da coluna CC22        : 3,420,645.99
Soma da coluna CC24        : 781,084.56
Soma da coluna CC24 5L     : 337,108.45
Soma da coluna CC24 7L     : 258,289.91
Soma da coluna J516        : -2,302,700.89
============================================================
SOMA TOTAL:                 5,369,683.03
============================================================

In [8]:
# Apagar as colunas de percentual uma a uma
print("Removendo colunas de percentual...")
colunas_para_remover = ['CC21%', 'CC22%', 'CC24%', 'CC24 5L%', 'CC24 7L%', 'J516%']

for col in colunas_para_remover:
    if col in df_final.columns:
        df_final = df_final.drop(columns=[col])
        print(f"  Coluna '{col}' removida")
    else:
        print(f"  AVISO: Coluna '{col}' não encontrada")

print(f"\nTotal de colunas após remoção: {len(df_final.columns)}")
print(f"Colunas restantes: {df_final.columns.tolist()}")

# filtrar na tabela df_final a USI = TC Ext
df_final = df_final[df_final['USI'] == 'TC Ext']

# mostrar o df_final_usi_tc_ext
display(df_final)

Removendo colunas de percentual...
  Coluna 'CC21%' removida
  Coluna 'CC22%' removida
  Coluna 'CC24%' removida
  Coluna 'CC24 5L%' removida
  Coluna 'CC24 7L%' removida
  Coluna 'J516%' removida

Total de colunas após remoção: 27
Colunas restantes: ['Mes', 'Período', 'Nºconta', 'Centrocst', 'Nºdoc.ref.', 'Dt.lçto.', 'Valor', 'QTD', 'Type 05', 'Type 06', 'Account', 'USI', 'Oficina', 'Doc.compra', 'Texto breve', 'Fornecedor', 'Material', 'Usuário', 'Fornec.', 'Tipo', 'CC21', 'CC22', 'CC24', 'CC24 5L', 'CC24 7L', 'J516', 'Soma_Percentuais']

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,Usuário,Fornec.,Tipo,CC21,CC22,CC24,CC24 5L,CC24 7L,J516,Soma_Percentuais
5,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.0,Burden,Expenses,...,U355648,800035099,W2,-3483.057631,-4722.118463,-0.000000,-886.072572,-1033.751334,-0.0,1.0
11,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,SG22639,NaN,W1,-28.483671,-38.616435,-15.699893,-0.000000,-0.000000,-0.0,1.0
12,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,SG22639,NaN,W1,-28.483671,-38.616435,-15.699893,-0.000000,-0.000000,-0.0,1.0
13,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,SG22639,NaN,W1,-28.483671,-38.616435,-15.699893,-0.000000,-0.000000,-0.0,1.0
17,11,novembro,52600108,02S3028,2025693730,05/11/2025,-2681.71,-10.0,Burden,Consumption Material,...,SG22639,NaN,W1,-922.523504,-1250.701462,-0.000000,-234.685400,-273.799634,-0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92751,9,setembro,F81401005,02S3028,7400009231,30/09/2025,5120.81,0.0,Labor,Indirect Labor,...,PXBREMOTE,NaN,TH,1857.300881,2338.413699,0.000000,590.923462,334.171958,0.0,1.0
92752,9,setembro,F81401007,02S3028,7400009231,30/09/2025,7778.16,0.0,Labor,Indirect Labor,...,PXBREMOTE,NaN,TH,2821.112953,3551.890404,0.000000,897.572305,507.584338,0.0,1.0
92753,9,setembro,F81101001,02S3028,7400009231,30/09/2025,2214.76,0.0,Labor,Direct Labor,...,PXBREMOTE,NaN,TH,803.286140,1011.368343,0.000000,255.575514,144.530003,0.0,1.0
92754,9,setembro,F81401005,02S3028,7400009231,30/09/2025,1412.62,0.0,Labor,Indirect Labor,...,PXBREMOTE,NaN,TH,512.352610,645.071768,0.000000,163.011379,92.184243,0.0,1.0
92755,9,setembro,F81401007,02S3028,7400009231,30/09/2025,2145.71,0.0,Labor,Indirect Labor,...,PXBREMOTE,NaN,TH,778.241933,979.836717,0.000000,247.607387,140.023963,0.0,1.0

In [9]:
# Transformar as colunas CC21, CC22, CC24, CC24 5L, CC24 7L, J516 em linhas, mantendo todas as outras colunas
colunas_veiculos = ['CC21', 'CC22', 'CC24', 'CC24 5L', 'CC24 7L', 'J516']
colunas_veiculos_existentes = [col for col in colunas_veiculos if col in df_final.columns]

if len(colunas_veiculos_existentes) > 0:
    colunas_id = [col for col in df_final.columns if col not in colunas_veiculos]
    df_final = df_final.melt(id_vars=colunas_id, value_vars=colunas_veiculos_existentes, var_name='Veículo', value_name='Total')
else:
    print("AVISO: Nenhuma das colunas de veículos foi encontrada!")
    print(f"Colunas disponíveis: {df_final.columns.tolist()}")

# mostrar o df_final
display(df_final)

# somar a coluna Total
print(df_final['Total'].sum())

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,Doc.compra,Texto breve,Fornecedor,Material,Usuário,Fornec.,Tipo,Soma_Percentuais,Veículo,Total
0,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.0,Burden,Expenses,...,62065341.0,SERVICO DE LOCACAO DE EQUIPAMENTOS E,AESA EMPILHADEIRAS LTDA,NaN,U355648,800035099,W2,1.0,CC21,-3483.057631
1,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671
2,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671
3,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671
4,11,novembro,52600108,02S3028,2025693730,05/11/2025,-2681.71,-10.0,Burden,Consumption Material,...,NaN,FILME STRETCH 500MM CX C/ 2 ROLOS,NaN,67099404007348,SG22639,NaN,W1,1.0,CC21,-922.523504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35005,9,setembro,F81401005,02S3028,7400009231,30/09/2025,5120.81,0.0,Labor,Indirect Labor,...,NaN,F81401005-6281 1 4050 PROV. BANCO DE HORAS INSS -,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000
35006,9,setembro,F81401007,02S3028,7400009231,30/09/2025,7778.16,0.0,Labor,Indirect Labor,...,NaN,F81401007-6281 1 4050 PROV. BANCO DE HORAS INSS -,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000
35007,9,setembro,F81101001,02S3028,7400009231,30/09/2025,2214.76,0.0,Labor,Direct Labor,...,NaN,F81101001-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000
35008,9,setembro,F81401005,02S3028,7400009231,30/09/2025,1412.62,0.0,Labor,Indirect Labor,...,NaN,F81401005-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000
35009,9,setembro,F81401007,02S3028,7400009231,30/09/2025,2145.71,0.0,Labor,Indirect Labor,...,NaN,F81401007-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000

5369683.029999999

In [10]:
# ler o arquivo em excel KE5Z_veiculos.xls na guia volume e considerar a linha 51 como cabeçalho
# Ler o arquivo Excel 'KE5Z_veiculos.xls' na guia 'volume', considerando a linha 51 como cabeçalho (header=50, 0-indexed)
df_ke5z_volume = pd.read_excel('Reporting fluxo anexo.xlsx', sheet_name='Volume', header=50)

# exluir a coluna Unnamed: 14
df_ke5z_volume = df_ke5z_volume.drop(columns=['Unnamed: 14'])


# transformar as counas dos meses (de janeiro a fevereiro) em linhas
colunas_meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

# Derreter o DataFrame para transformar as colunas em linhas
df_vol = pd.melt(
    df_ke5z_volume,
    id_vars=[col for col in df_ke5z_volume.columns if col not in colunas_meses],
    value_vars=colunas_meses,
    var_name='Período',
    value_name='Volume'
)
# Transformar a coluna Volume em numerico
df_vol['Volume'] = pd.to_numeric(df_vol['Volume'], errors='coerce').fillna(0)


# Remover linhas duplicadas
df_vol = df_vol.drop_duplicates()  


# Remover linhas com NaN
df_vol = df_vol.dropna()

# Exibir as primeiras linhas para conferência
display(df_vol)

# gerar um arquivo parquet com o df_vol
df_vol.to_parquet('df_vol.parquet')

      Oficina Veículo   Período  Volume
0        HVAC    J516   janeiro     0.0
1        HVAC    CC21   janeiro  1862.0
2        HVAC    CC24   janeiro  1624.0
3        HVAC    CC22   janeiro  2285.0
5        INOX    J516   janeiro     0.0
..        ...     ...       ...     ...
486     IBIZA    CC22  dezembro  1516.0
488  Card Box    J516  dezembro     0.0
489  Card Box    CC21  dezembro  1918.0
490  Card Box    CC24  dezembro   985.0
491  Card Box    CC22  dezembro  1516.0

[408 rows x 4 columns]

In [11]:

# Fazer o merge do df_final com o df_vol utilizando as chaves Oficina, Veículo e Período, trazendo apenas a coluna Volume
# Remover todas as colunas Volume do df_final se já existirem (Volume, Volume_x, Volume_y, etc.)
colunas_volume = [col for col in df_final.columns if 'Volume' in str(col)]
if colunas_volume:
    df_final = df_final.drop(columns=colunas_volume)
    print(f"Colunas Volume removidas: {colunas_volume}")

# Criar um DataFrame temporário apenas com Volume do df_vol (sem outras colunas que possam duplicar)
df_vol_merge = df_vol[['Oficina', 'Veículo', 'Período', 'Volume']].copy()

# Fazer o merge usando apenas as chaves e a coluna Volume
df_final = pd.merge(
    df_final, 
    df_vol_merge,
    on=['Oficina', 'Veículo', 'Período'], 
    how='left'
)

# Verificar e remover qualquer coluna Volume duplicada que possa ter sido criada
colunas_volume_final = [col for col in df_final.columns if 'Volume' in str(col) and col != 'Volume']
if colunas_volume_final:
    df_final = df_final.drop(columns=colunas_volume_final)
    print(f"Colunas Volume duplicadas removidas: {colunas_volume_final}")

# Passar a coluna Volume para float
df_final['Volume'] = pd.to_numeric(df_final['Volume'], errors='coerce').fillna(0)



# Criar a coluna com o custo unitario 'CPU', evitando divisão por zero e retornando 0 onde Volume é zero ou nulo
df_final['CPU'] = df_final.apply(
    lambda row: row['Total'] / row['Volume'] if pd.notnull(row['Volume']) and row['Volume'] != 0 else 0, 
    axis=1
)

# Passar a coluna CPU para float
df_final['CPU'] = pd.to_numeric(df_final['CPU'], errors='coerce').fillna(0) 

# filtrar account diferente de NaN, 0 ou TC Ext
df_final = df_final[df_final['Account'].notna() & (df_final['Account'] != 0) & (df_final['Account'] != 'TC Ext')]

# Gerar excel com o df_final
df_final.to_excel('df_final_cpu.xlsx', index=False)

# Filtrar USI = TC Ext
df_final = df_final[df_final['USI'] == 'TC Ext']

# mostrar o df_final
display(df_final)



# somar a coluna CPU, coluna Valor e coluna Total, volume'
print('Volume = ', df_final['Volume'].sum())
print('CPU = ', df_final['CPU'].sum())
print('Valor = ', df_final['Valor'].sum())
print('Total = ', df_final['Total'].sum())

# Gerar arquivo parquet com o df_final
df_final.to_parquet('df_final.parquet')

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,Fornecedor,Material,Usuário,Fornec.,Tipo,Soma_Percentuais,Veículo,Total,Volume,CPU
0,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.0,Burden,Expenses,...,AESA EMPILHADEIRAS LTDA,NaN,U355648,800035099,W2,1.0,CC21,-3483.057631,1934.0,-1.800961
1,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671,1934.0,-0.014728
2,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671,1934.0,-0.014728
3,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,NaN,67099404007378,SG22639,NaN,W1,1.0,CC21,-28.483671,1934.0,-0.014728
4,11,novembro,52600108,02S3028,2025693730,05/11/2025,-2681.71,-10.0,Burden,Consumption Material,...,NaN,67099404007348,SG22639,NaN,W1,1.0,CC21,-922.523504,1934.0,-0.477003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35005,9,setembro,F81401005,02S3028,7400009231,30/09/2025,5120.81,0.0,Labor,Indirect Labor,...,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000,0.0,0.000000
35006,9,setembro,F81401007,02S3028,7400009231,30/09/2025,7778.16,0.0,Labor,Indirect Labor,...,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000,0.0,0.000000
35007,9,setembro,F81101001,02S3028,7400009231,30/09/2025,2214.76,0.0,Labor,Direct Labor,...,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000,0.0,0.000000
35008,9,setembro,F81401005,02S3028,7400009231,30/09/2025,1412.62,0.0,Labor,Indirect Labor,...,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000,0.0,0.000000
35009,9,setembro,F81401007,02S3028,7400009231,30/09/2025,2145.71,0.0,Labor,Indirect Labor,...,NaN,NaN,PXBREMOTE,NaN,TH,1.0,J516,0.000000,0.0,0.000000

Volume =  29339490.0
CPU =  3685.862596660379
Valor =  35098530.239999995
Total =  5849755.040000001

In [12]:

# 3. Agrupar Volume
try:
    df_vol_group = (
        df_vol.groupby(['Oficina', 'Período'], as_index=False)['Volume']
        .sum()
    )
except Exception as e:
    print("ERRO ao agrupar df_vol:", e)
    raise

# Exibir as primeiras 100 linhas
display(df_vol_group.head(100))

# 4. Garantir que 'USI' está presente em df_KE5Z e filtrar corretamente
if 'USI' not in df_KE5Z.columns:
    raise ValueError("df_KE5Z não contém coluna 'USI'")
df_KE5Z = df_KE5Z[df_KE5Z['USI'] == 'TC Ext']

# 5. Garantir coluna 'Account' presente e aplicar filtros
if 'Account' not in df_KE5Z.columns:
    raise ValueError("df_KE5Z não contém coluna 'Account'")
df_KE5Z = df_KE5Z[df_KE5Z['Account'].notna() & (df_KE5Z['Account'] != 0) & (df_KE5Z['Account'] != '')]

# 6. Checar se as colunas 'Volume' e 'Total' (ou 'Valor') existem e são numéricas
# Volume
if 'Volume' not in df_KE5Z.columns:
    print("Coluna 'Volume' não encontrada em df_KE5Z, criando com zeros.")
    df_KE5Z['Volume'] = 0

df_KE5Z['Volume'] = pd.to_numeric(df_KE5Z['Volume'], errors='coerce').fillna(0)

# Total
if 'Total' not in df_KE5Z.columns:
    if 'Valor' in df_KE5Z.columns:
        df_KE5Z['Total'] = df_KE5Z['Valor']
        print("Coluna 'Total' criada a partir de 'Valor' em df_KE5Z.")
    else:
        print("Coluna 'Total' e 'Valor' não encontradas em df_KE5Z, criando 'Total' com zeros.")
        df_KE5Z['Total'] = 0

df_KE5Z['Total'] = pd.to_numeric(df_KE5Z['Total'], errors='coerce').fillna(0)

# Fazer o merge entre df_KE5Z e df_vol_group pela chave Oficina e Período
# Garante que só haverá uma coluna 'Volume' ao final
df_ke5z_group = pd.merge(
    df_KE5Z.drop(columns=[col for col in df_KE5Z.columns if col.lower() == 'volume']),  # remove 'Volume' antes!
    df_vol_group,
    on=['Oficina', 'Período'],
    how='left'
)

# Se após o merge ainda existir mais de uma coluna Volume, remove as extras mantendo apenas 'Volume'
colunas_volume = [col for col in df_ke5z_group.columns if 'Volume' in str(col) and col != 'Volume']
if colunas_volume:
    df_ke5z_group = df_ke5z_group.drop(columns=colunas_volume)
    print(f"Colunas Volume duplicadas removidas: {colunas_volume}")

# Mostrar o df_ke5z_group
display(df_ke5z_group)

# Somar coluna Total
print('Total = ', df_ke5z_group['Total'].sum()) 


# Gerar excel com o df_ke5z_group
df_ke5z_group.to_excel('df_ke5z_group.xlsx', index=False)
# gerar um arquivo parquet com o df_ke5z_group
df_ke5z_group.to_parquet('df_ke5z_group.parquet')

                Oficina    Período  Volume
0                BANCOS      abril  5911.0
1                BANCOS     agosto  5439.0
2                BANCOS   dezembro  4419.0
3                BANCOS  fevereiro  5525.0
4                BANCOS    janeiro  5771.0
..                  ...        ...     ...
95                 INOX   setembro  6482.0
96  REGIONALIZAÇÃO J516      abril     0.0
97  REGIONALIZAÇÃO J516     agosto     0.0
98  REGIONALIZAÇÃO J516   dezembro     0.0
99  REGIONALIZAÇÃO J516  fevereiro     0.0

[100 rows x 3 columns]

Coluna 'Volume' não encontrada em df_KE5Z, criando com zeros.
Coluna 'Total' criada a partir de 'Valor' em df_KE5Z.

,Mes,Período,Nºconta,Centrocst,Nºdoc.ref.,Dt.lçto.,Valor,QTD,Type 05,Type 06,...,Oficina,Doc.compra,Texto breve,Fornecedor,Material,Usuário,Fornec.,Tipo,Total,Volume
0,11,novembro,54400052,02S3028,1002390633,04/11/2025,-10125.00,-2025.0,Burden,Expenses,...,BANCOS,62065341.0,SERVICO DE LOCACAO DE EQUIPAMENTOS E,AESA EMPILHADEIRAS LTDA,NaN,U355648,800035099,W2,-10125.00,5622.0
1,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,-82.80,5622.0
2,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,-82.80,5622.0
3,11,novembro,52600108,02S3012,2025690918,05/11/2025,-82.80,-10.0,Burden,Consumption Material,...,HVAC,NaN,OXIGENIO 100 GASOSO 10M³ WHITE MARTINS,NaN,67099404007378,SG22639,NaN,W1,-82.80,5622.0
4,11,novembro,52600108,02S3028,2025693730,05/11/2025,-2681.71,-10.0,Burden,Consumption Material,...,BANCOS,NaN,FILME STRETCH 500MM CX C/ 2 ROLOS,NaN,67099404007348,SG22639,NaN,W1,-2681.71,5622.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,9,setembro,F81401005,02S3028,7400009231,30/09/2025,5120.81,0.0,Labor,Indirect Labor,...,BANCOS,NaN,F81401005-6281 1 4050 PROV. BANCO DE HORAS INSS -,NaN,NaN,PXBREMOTE,NaN,TH,5120.81,6482.0
5678,9,setembro,F81401007,02S3028,7400009231,30/09/2025,7778.16,0.0,Labor,Indirect Labor,...,BANCOS,NaN,F81401007-6281 1 4050 PROV. BANCO DE HORAS INSS -,NaN,NaN,PXBREMOTE,NaN,TH,7778.16,6482.0
5679,9,setembro,F81101001,02S3028,7400009231,30/09/2025,2214.76,0.0,Labor,Direct Labor,...,BANCOS,NaN,F81101001-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,2214.76,6482.0
5680,9,setembro,F81401005,02S3028,7400009231,30/09/2025,1412.62,0.0,Labor,Indirect Labor,...,BANCOS,NaN,F81401005-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,1412.62,6482.0
5681,9,setembro,F81401007,02S3028,7400009231,30/09/2025,2145.71,0.0,Labor,Indirect Labor,...,BANCOS,NaN,F81401007-6282 1 4050 PROV. BANCO DE HORAS FGTS -,NaN,NaN,PXBREMOTE,NaN,TH,2145.71,6482.0

Total =  5849755.04